html {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  margin: 10px;
  padding: 5px;
}
span {
  word-break: break-all;
}

.pri-1 {
  color: red;
}
.pri-2 {
  color: green;
}
.pri-3 {
  color: blue;
}
.pri-4 {
  color: pink;
}
.pri-5 {
  color: black;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
